.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* elementos a los extremos */
  margin-bottom: 20px;
}

.home-actions button {
  margin-left: 10px; /* espacio entre botones */
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.home-actions button:hover {
  background-color: #0056b3;
}
